@{
    Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h3>Edit this item: @Html.DisplayFor(model => model.Description)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(Model => Model.Description)

    @Html.LabelFor(model => model.Category)
    @Html.DropDownList("CategoryId")

    @Html.LabelFor(model => model.Completed)
    @Html.CheckBoxFor(model => model.Completed)

    <input type="submit" value="Save" class="btn btn-primary" />
}
@Html.ActionLink("Back to List", "Index")